#About-me-Page-Section-title{
    top: 870px;
    right: 400px;
    position: absolute;
    font-size: 40px;
}

#About-me-Page-Section-my-img{
    width: 450px;
    height: 300px;
    top: 1000px;
    left: 70px;
    position: absolute;
    background-color: blue;

}


#About-me-Page-Section-paraghaph{
    top: 1000px;
    left: 640px;
    right: 60px;
    position: absolute;
    font-size: 18px;
    font-family: "Bell MT",Serif;
}

#About-me-Page-Section-find-me{
    top: 1290px;
    left: 640px;
    font-size: 16px;
    position: absolute;
}


#About-me-Page-Section-find-me-imgs{
    top: 1310px;
    left: 637px;
    position: absolute;
}

