#Education-page-section-main-title{
    top: 1500px;
    left: 700px;
    position: absolute;
    font-size: 40px;
}

#Education-page-section-robo-img{
    top: 1650px;
    left: 550px;
    position: absolute;
}

#Education-page-section-school-img{
    top: 1650px;
    left: 200px;
    position: absolute;
}

#Education-page-section-school-paragraph{
    top: 1740px;
    left: 50px;
    right: 900px;
    position: absolute;
}

#Education-page-section-british-council-img{
    top: 1900px;
    left: 200px;
    position: absolute;
}

#Education-page-section-british-council-paragraph{
    top: 1990px;
    left: 50px;
    right: 900px;
    position: absolute;
}

#Education-page-section-ijse-img{
    top: 1650px;
    right: 280px;
    position: absolute;
}

#Education-page-section-ijse-paragraph{
    top: 1730px;
    right: 50px;
    left: 1000px;
    position: absolute;
}

#Education-page-section-online-course{
    top: 1900px;
    right: 280px;
    position: absolute;
}

#Education-page-section-online-course-paragraph{
    top: 1990px;
    right: 50px;
    left: 1020px;
    position: absolute;
}
