*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: white;
    width: fit-content;
    height: fit-content;
}

#gallery-title{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 700px;
    right: 0px;
    margin: auto;
    font-size: 45px;
}

#gallery-image-01{
    top: 120px;
    left: 350px;
    width: 200px;
    position: absolute;
}

#gallery-image-02{
    top: 120px;
    right: 290px;
    width: 200px;
    height: 250px;
    position: absolute;
}

#gallery-image-03{
    top: 250px;
    left: 650px;
    width: 300px;
    position: absolute;
}

#gallery-image-04{
    top: 420px;
    left: 350px;
    width: 200px;
    height: 250px;
    position: absolute;
}

#gallery-image-05{
    top: 400px;
    left: 1050px;
    width: 190px;
    height: 270px;
    position: relative;
}
