
#gallery-title{
    position: relative;
    top: 1800px;
    left: 700px;
    font-size: 45px;
    font-weight: bold;
}

#gallery-image-01{
    top: 1750px;
    left: 250px;
    width: 200px;
    position: relative;
}

#gallery-image-02{
    top: 1750px;
    left: 950px;
    width: 200px;
    height: 250px;
    position: relative;
}

#gallery-image-03{
    top: 2000px;
    left: 170px;
    width: 450px;
    position: relative;
}

#gallery-image-04{
    top: 2050px;
    right: 612px;
    width: 200px;
    height: 250px;
    position: relative;
}

#gallery-image-05{
    top: 2050px;
    left: 90px;
    width: 190px;
    height: 270px;
    position: relative;
}
