:root {
    --primary-color: #0ddb06;
    --secondary-color: rgba(6, 133, 237, 0.9);
    --dark-color: #000000;
    --light-color: #ffffff;
    --text-color: #333;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bell MT', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}