:root {
    --primary-color: #0ddb06;
    --secondary-color: rgba(6, 133, 237, 0.9);
    --dark-color: #000000;
    --light-color: #ffffff;
    --text-color: #333;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bell MT', sans-serif;
}